.div {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.wrapper {
  border-radius: var(--br-5xs);
  border: 1px solid var(--black-300);
  box-sizing: border-box;
  height: 26px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.div1,
.label,
.text {
  position: relative;
  font-weight: 600;
}
.text {
  line-height: 24px;
  color: var(--black-800);
}
.div1,
.label {
  line-height: 21px;
}
.div1 {
  font-size: var(--semibold2-size);
  line-height: 24px;
  color: var(--error-800);
  display: flex;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.labelParent {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.searchfatIcon {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.arrowaltdownIcon {
  position: relative;
  width: 16px;
  height: 16px;
}
.searchfatParent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--black-300);
  box-sizing: border-box;
  height: 36px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--black-800);
}
.dropdown {
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--semibold-size);
  color: var(--black-600);
}
.addtestInner,
.frameParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.addtestInner {
  /* flex-direction: column; */
  align-items: flex-start;
  justify-content: space-between;
  font-size: var(--semibold2-size);
  color: var(--black-700);
}
.setas{
  display: flex;
justify-content: center;
align-items: center;
gap: 8px;
}
.setasCheckbox{
  display: flex;
width: 20px;
height: 20px;
padding: 2px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 4px;
border: 2px solid var(--Black-500, #A0A6AB);
}
.setasText{
  color: var(--Black-800, #181B1F);
text-align: center;

/* 14/Semibold */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 150% */
}
.testName {
  position: relative;
  line-height: 21px;
}
.testNameWrapper {
  align-self: stretch;
  background-color: var(--black-200);
  flex-direction: row;
  padding: var(--padding-5xs);
  justify-content: flex-start;
}
.frameWrapper,
.priceWrapper,
.testNameWrapper {
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  width: 294px;
  flex-direction: column;
  justify-content: flex-start;
}
.priceWrapper {
  align-self: stretch;
  background-color: var(--black-200);
  flex-direction: row;
  padding: var(--padding-5xs);
  justify-content: flex-end;
}
.addtestChild,
.frameContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
}
.addtestChild,
.frameGroup {
  align-self: stretch;
  flex-direction: row;
}
.addtestChild {
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-direction: column;
  color: var(--black-800);
}
.text2 {
  border: 0;
  font-weight: 600;
  font-family: var(--semibold);
  font-size: var(--semibold-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 21px;
  color: var(--black-500);
  text-align: left;
}
.arrowaltdownIcon1 {
  position: absolute;
  height: 36.67%;
  width: 65.83%;
  top: 33.75%;
  right: 17.08%;
  bottom: 29.58%;
  left: 17.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrowaltdown {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 16px;
}
.dropdown1,
.searchfatGroup {
  display: flex;
  justify-content: flex-start;
}
.searchfatGroup {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--black-300);
  box-sizing: border-box;
  height: 36px;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  gap: var(--gap-5xs);
}
.dropdown1 {
  width: 336px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
}
.searchfatContainer {
  /* width: 60%; */
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--black-300);
  border: 1px solid var(--black-400);
  box-sizing: border-box;
  height: 36px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xs);
  text-align: right;
  color: var(--black-500);
}
.helpText {
  position: relative;
  line-height: 21px;
  display: none;
}
.dropdownParent,
.inputField,
.searchfatParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputField {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-9xs);
}
.dropdownParent,
.searchfatParent1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.searchfatParent1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--black-300);
  box-sizing: border-box;
  height: 36px;
  padding: var(--padding-5xs);
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--black-500);
}
.addIcon {
  position: relative;
  width: 18px;
  height: 18px;
}
.text12 {
  position: relative;
  font-size: var(--semibold-size);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--semibold);
  color: var(--primary-500);
  text-align: center;
}
.arrowforwardIcon {
  position: relative;
  width: 18px;
  height: 18px;
  display: none;
}
.buttonSize {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button,
.buttonWrapper {
  display: flex;
  justify-content: flex-start;
}
.button {
  border-radius: var(--br-5xs);
  flex-direction: row;
  align-items: center;
}
.buttonWrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.testTotal {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.arrowaltdownIcon11 {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.container,
.testTotalParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: flex-start;
}
.testTotalParent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.container {
  justify-content: flex-end;
  color: var(--black-800);
}
.addtest,
.frameParent1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--black-300);
  display: none;
  flex-direction: row;
  color: var(--black-700);
}
.addtest {
  background-color: var(--white);
  width: 100%;
  /* height: 584px; */
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--semibold-size);
  color: var(--black-600);
  font-family: var(--semibold);
  /* border: 2px solid red; */
}
