.text {
  position: relative;
  font-weight: 600;
}
.adddetailstopInner,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.adddetailstopInner {
  flex: 1;
}
.fileDownloadInLc {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text1 {
  position: relative;
  font-size: var(--semibold1-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--semibold);
  color: var(--primary-500);
  text-align: center;
}
.arrowforwardIcon {
  position: relative;
  width: 20px;
  height: 20px;
  display: none;
}
.button,
.buttonSize {
  display: flex;
  flex-direction: row;
}
.buttonSize {
  border-radius: var(--br-xs);
  background-color: var(--white);
  border: 1.2px solid var(--primary-500);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: flex-start;
  justify-content: flex-start;
}
.text2 {
  position: relative;
  font-size: var(--semibold1-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--semibold);
  color: var(--white);
  text-align: center;
}
.button1,
.buttonSize1 {
  display: flex;
  flex-direction: row;
}
.buttonSize1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--primary-500);
  border-radius: var(--br-xs);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.declineIcon {
  position: absolute;
  height: 64.58%;
  width: 64.58%;
  top: 17.71%;
  right: 17.71%;
  bottom: 17.71%;
  left: 17.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
}
.adddetailstop {
  border-bottom: 1px solid var(--black-300);
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--semibold2-size);
  color: var(--black-800);
  font-family: var(--semibold);
}
