.div {
    position: relative;
    line-height: 24px;
    font-weight: 600;
  }
  .wrapper {
    border-radius: var(--br-5xs);
    border: 1px solid var(--black-300);
    box-sizing: border-box;
    height: 26px;
    display: none;
    flex-direction: column;
    padding: var(--padding-5xs);
    align-items: center;
    justify-content: center;
  }
  .div1,
  .label,
  .text {
    position: relative;
    font-weight: 600;
  }
  .text {
    line-height: 24px;
    color: var(--black-800);
  }
  .div1,
  .label {
    line-height: 21px;
  }
  .div1 {
    font-size: var(--semibold-size);
    line-height: 24px;
    color: var(--error-800);
    display: flex;
    align-items: center;
    width: 9px;
    height: 21px;
    flex-shrink: 0;
  }
  .labelParent {
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xs);
  }
  .searchfatIcon {
    position: relative;
    width: 16px;
    height: 16px;
    object-fit: cover;
    display: none;
  }
  .text1 {
    flex: 1;
    position: relative;
    line-height: 21px;
    font-weight: 600;
    display: inline-block;
    height: 20px;
  }
  .arrowaltdownIcon {
    position: relative;
    width: 16px;
    height: 16px;
    object-fit: cover;
  }
  .searchfatParent {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--white);
    border: 1px solid var(--black-300);
    box-sizing: border-box;
    height: 36px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    color: var(--black-800);
  }
  .dropdown {
    flex: 1;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    font-size: var(--semibold1-size);
    color: var(--black-600);
  }
  .ammountperpatientInner,
  .frameParent {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
  }
  .frameParent {
    flex-direction: row;
    align-items: center;
    gap: var(--gap-5xs);
  }
  .ammountperpatientInner {
    flex-direction: column;
    align-items: flex-start;
  }
  .particulars {
    position: relative;
    line-height: 24px;
  }
  .particularsWrapper {
    flex: 1;
    display: flex;
    padding: var(--padding-9xs) 0;
    justify-content: flex-start;
  }
  .amountWrapper,
  .frameContainer,
  .particularsWrapper {
    flex-direction: row;
    align-items: flex-start;
  }
  .amountWrapper {
    flex: 1;
    display: flex;
    padding: var(--padding-9xs) 0;
    justify-content: flex-end;
  }
  .frameContainer {
    align-self: stretch;
    border-bottom: 3px solid var(--black-400);
    display: none;
    padding: var(--padding-5xs) var(--padding-base);
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .kalicharanGhosh {
    position: relative;
    line-height: 21px;
    display: inline-block;
    width: 173px;
    flex-shrink: 0;
  }
  .frameChild {
    flex: 1;
    position: relative;
    border-top: 1px dashed var(--black-500);
    box-sizing: border-box;
    height: 1px;
  }
  .kalicharanGhoshParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-base);
  }
  .haemoglobinTest {
    flex: 1;
    position: relative;
    line-height: 21px;
  }
  .arrowaltdownIcon1 {
    position: relative;
    width: 20px;
    height: 20px;
    object-fit: cover;
    display: none;
  }
  .haemoglobinTestParent {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-5xl);
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .div2 {
    position: relative;
    line-height: 21px;
    font-weight: 500;
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-base);
    align-items: flex-start;
    justify-content: flex-end;
    font-size: var(--semibold-size);
    color: var(--black-800);
  }
  .frameParent1,
  .frameParent2,
  .frameParent3 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameParent3 {
    border-radius: var(--br-9xs);
    flex-direction: row;
    gap: var(--gap-59xl);
  }
  .frameParent1,
  .frameParent2 {
    flex-direction: column;
  }
  .frameParent2 {
    font-size: var(--semibold1-size);
    color: var(--black-700);
    font-family: var(--font-roboto-mono);
  }
  .frameParent1 {
    gap: var(--gap-5xs);
  }
  .abhinavDutta {
    position: relative;
    line-height: 21px;
    display: inline-block;
    width: 114px;
    flex-shrink: 0;
  }
  .frameDiv,
  .wrapper3 {
    flex: 1;
    display: flex;
    align-items: flex-start;
  }
  .frameDiv {
    align-self: stretch;
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-5xl) var(--padding-base) var(--padding-base);
    justify-content: flex-start;
    gap: 24px;
    color: var(--black-600);
    font-family: var(--font-share-tech-mono);
    
    overflow: hidden;
    
  }
  .frameDiv:hover {
    overflow-y: scroll;
  }
  .wrapper3 {
    flex-direction: row;
    padding: var(--padding-9xs) 0;
    justify-content: flex-end;
    font-size: var(--semibold2-size);
    font-family: var(--font-roboto-mono);
  }
  .ammountperpatient,
  .frameGroup,
  .frameParent9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frameParent9 {
    align-self: stretch;
    background-color: var(--black-700);
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-base);
    color: var(--black-300);
  }
  .ammountperpatient,
  .frameGroup {
    flex-direction: column;
  }
  .frameGroup {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-base) var(--br-base) 0 0;
    background-color: #f2f5f8;
    overflow: hidden;
    color: var(--black-800);
  }
  .ammountperpatient {
    background-color: var(--white);
    border-right: 1px solid var(--black-300);
    box-sizing: border-box;
    /* width: 814px; */
    height: 100vh;
    padding: var(--padding-base) var(--padding-5xl) 0;
    gap: var(--gap-base);
    text-align: left;
    font-size: var(--semibold-size);
    color: var(--black-700);
    font-family: var(--semibold);
  }
  