.text,
.text1 {
  align-self: stretch;
  position: relative;
}
.text {
  font-weight: 600;
}
.text1 {
  font-size: var(--semibold1-size);
  line-height: 21px;
}
.textParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.declineIcon {
  position: absolute;
  height: 64.58%;
  width: 64.58%;
  top: 17.71%;
  right: 17.71%;
  bottom: 17.71%;
  left: 17.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 24px;
  height: 24px;
}
.addPatientDetailsPopupInner,
.frameParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.addPatientDetailsPopupInner {
  border-bottom: 1px solid var(--black-300);
  flex-direction: column;
  padding: var(--padding-base);
  align-items: flex-start;
  font-size: var(--semibold3-size);
}
.div,
.label {
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.div {
  font-size: var(--semibold2-size);
  line-height: 24px;
  color: var(--error-800);
  display: flex;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.labelParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.searchfatIcon {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.span {
  color: var(--primary-800);
}
.textTxtContainer {
  line-break: anywhere;
}
.searchfatParent,
.text2 {
  display: flex;
  align-items: center;
}
.text2 {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  height: 20px;
}
.searchfatParent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1.5px solid var(--primary-700);
  box-sizing: border-box;
  height: 36px;
  flex-direction: row;
  padding: var(--padding-5xs);
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--black-800);
}
.helpText {
  position: relative;
  line-height: 21px;
  display: none;
}
.dropdown {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  color: var(--black-600);
}
.patient1 {
  position: relative;
  font-size: var(--semibold-size);
  line-height: 18px;
  display: none;
}
.abhinavDuttaParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.addIcon,
.text3 {
  position: relative;
}
.addIcon {
  width: 18px;
  height: 18px;
  display: none;
}
.text3 {
  font-size: var(--semibold1-size);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--semibold);
  color: var(--primary-800);
  text-align: center;
}
.button,
.buttonSize {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttonSize {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1.2px solid var(--primary-800);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-base);
  justify-content: center;
  gap: var(--gap-5xs);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  justify-content: flex-start;
}
.fileDownloadInLc {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text4 {
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.arrowforwardIcon1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.buttonSize1 {
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-5xs);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button1,
.multipleMemebers {
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: flex-start;
}
.button1 {
  display: none;
  align-items: flex-start;
  text-align: center;
  font-size: var(--semibold-size);
  color: var(--primary-800);
}
.multipleMemebers {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
  gap: var(--gap-5xs);
  text-align: left;
  color: var(--color-black);
}
.frameChild {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--black-300);
  box-sizing: border-box;
  height: 1px;
}
.sumitaRadhakrishnanParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
  text-align: left;
  color: var(--color-black);
}
.button2,
.button3 {
  flex-direction: row;
  justify-content: flex-start;
}
.button2 {
  border-radius: var(--br-5xs);
  display: none;
  align-items: flex-start;
  font-size: var(--semibold-size);
}
.button3 {
  display: flex;
  align-items: center;
}
.multipleMemebers1,
.multipleMemebersParent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.multipleMemebers1 {
  border-radius: var(--br-5xs);
  background-color: var(--white);
  flex-direction: row;
  padding: var(--padding-base) var(--padding-xs);
  align-items: center;
}
.multipleMemebersParent {
  flex-direction: column;
  align-items: flex-start;
}
.plusSqFrIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.buttonSize8 {
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button8,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.frameGroup {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
  text-align: center;
  color: var(--primary-800);
}
.addPatientDetailsPopup,
.multiplepatientconnected {
  background-color: var(--white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.addPatientDetailsPopup {
  flex: 1;
  border-right: 1px solid var(--black-300);
  box-sizing: border-box;
  height: 648px;
  flex-direction: column;
}
.multiplepatientconnected {
  /* border: 2px solid red; */
  border-radius: 16px;
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  text-align: left;
  font-size: var(--semibold1-size);
  color: var(--black-800);
  font-family: var(--semibold);
}
