.prepareReportNav{
  display: flex;
height: 44px;
padding: 16px;
align-items: center;
gap: 16px;
flex-shrink: 0;
align-self: stretch;
border-bottom: 1px solid var(--Black-300, #E6EBF0);
margin-bottom: 15px;
padding: 16px 16px 14px 16px;

}
.prepareReportNavText1{
  display: flex;
align-items: center;
gap: 16px;
flex: 1 0 0;

color: var(--Black-800, #181B1F);

/* 20/Semibold */
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.prepareReportNavText2{
  display: flex;
align-items: flex-start;
border-radius: 8px;
display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
color: var(--Primary-800, #0067DF);
text-align: center;

/* 16/Semibold */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */

}
.prepareReportNavText3{
  display: flex;
align-items: flex-start;
display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 12px;
border: 1.2px solid var(--Primary-800, #0067DF);
background: var(--White, #FFF);
color: var(--Primary-800, #0067DF);
text-align: center;
cursor: pointer;

/* 16/Semibold */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}
.prepareReportNavText4{

display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 12px;
background: var(--Primary-800, #0067DF);
color: var(--White, #FFF);
text-align: center;
cursor: pointer;
/* 16/Semibold */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}
.prepareReportNavText5{
  width: 24px;
height: 24px;
cursor: pointer;
}






.div,
.name {
  position: relative;
  line-height: 21px;
}
.div {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Roboto;
  color: #ce0000;
  display: none;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.nameParent {
  width: 108px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.abhinavDutta,
.helpText {
  position: relative;
  line-height: 21px;
}
.abhinavDutta {
  font-weight: 500;
  color: #181b1f;
}
.helpText {
  font-family: Roboto;
  display: none;
}
.inputField,
.testStatusParent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.inputField {
  align-items: center;
  padding: 8px 0;
  gap: 4px;
}
.testStatusParent {
  align-items: flex-start;
  gap: 2px;
  font-family: "Roboto Mono";
}
.tag1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
}
.tag {
  border-radius: 8px;
  background-color: #fff6e6;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
  gap: 4px;
  font-size: 12px;
  color: #d58d04;
}
.helpText4 {
  position: relative;
  line-height: 21px;
  display: none;
}
.inputField4,
.tag2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.inputField4 {
  padding: 4px 0;
  font-family: Roboto;
}
.tag2 {
  border-radius: 8px;
  background-color: #e6ebf0;
  height: 28px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 12px;
  color: #4a5055;
}
.ageParent,
.inputFieldParent,
.recievedWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.inputFieldParent {
  flex: 1;
  flex-direction: column;
  /* border: 2px solid rgb(65, 18, 18); */
}
.ageParent,
.recievedWrapper {
  flex-direction: row;
}
.ageParent {
  width: 68px;
  gap: 2px;
}
.recievedWrapper {
  width: 108px;
}
.inputField12 {
  display: none;
}
.patientinfo {
  border-radius: 8px;
  background-color: #f2f5f8;
  /* width: 990px; */
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 16px;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  color: #777c83;
  font-family: "Roboto Mono";
  /* border: 2px solid red; */
  margin-bottom: 15px;
  margin: 16px 16px 0px 16px;
}






/* prepare report below  */





.investigation {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 500;
}

.searchfatParent {
  align-self: stretch;
  border-radius: 4px;
  background-color: #dadfe5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 16px;
  gap: 16px;
  /* border: 2px solid red; */
}
.div,
.label {
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.div {
  font-size: 16px;
  line-height: 24px;
  color: #ce0000;
  display: flex;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.labelParent {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.text {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.searchfatContainer {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e6ebf0;
  box-sizing: border-box;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
  color: #181b1f;
}
.helpText {
  position: relative;
  line-height: 21px;
  display: none;
}


.mgdl {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.electrolyesSerumWrapper,
.searchfatGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.searchfatGroup {
  align-self: stretch;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px 16px;
  gap: 16px;
}
.electrolyesSerumWrapper {
  flex: 1;

}
.inputField1,
.inputFieldChild {
  display: flex;
  justify-content: flex-start;
  font-family: Roboto;
}
.inputFieldChild {
  border: 1px solid #e6ebf0;
  font-weight: 600;
  font-size: 14px;
  background-color: #fff;
  align-self: stretch;
  border-radius: 8px;
  box-sizing: border-box;
  height: 36px;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}
.inputField1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  color: #777c83;
}
.div8 {
  width: 80px;
  position: relative;
  line-height: 21px;
  /* border: 2px solid rebeccapurple; */
}
.interpretationOfHaemoglobin {
  width: 280px;
  /* position: relative; */
  line-height: 21px;
  /* border: 2px solid rebeccapurple; */
}
.div8 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Roboto;
  color: #ce0000;
  display: none;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.interpretationOfHaemoglobinParent {
 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
  /* border: 2px solid red; */
}
.helpText4 {
  position: relative;
  line-height: 21px;
  font-family: Roboto;
  display: none;
}
.inputField4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 4px;
}
.helpText5 {
  position: relative;
  line-height: 21px;
  font-family: Roboto;
  color: #777c83;
  display: none;
}
.inputField5,
.inputFieldParent {
  display: flex;
  justify-content: flex-start;
}
.inputField5 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  gap: 4px;
  color: #181b1f;
}
.inputFieldParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.frameChild3,
.frameWrapper {
  align-self: stretch;
  border-radius: 8px;
  background-color: #f2f5f8;
  overflow: hidden;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 16px;
  color: #777c83;
  /* border: 2px solid red; */
}
.frameChild3 {
  display: none;
}
.frameParent,
.patientreport {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  gap: 16px;
}
.patientreport {
  position: relative;
  /* width: 100%; */
  text-align: left;
  font-size: 14px;
  color: #181b1f;
  font-family: "Roboto Mono";
  margin: 16px 16px 0px 16px;
}
.uploadImge{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  padding-bottom: 20px;

}
.uploadImgeBox1{
  color: var(--Black-800, #181B1F);
font-family: Roboto Mono;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 21px; /* 150% */
}
.uploadImgeBox2{
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
border: 1px dashed var(--Primary-700, #3385E5);
background: #F1F8FF;
}
.uploadImgeBox2Left{
  padding-top: 10px;
display: flex;
justify-content: center;
align-items: center;
}
.uploadImgeBox2Right{
  display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
border: 1.2px solid var(--Primary-800, #0067DF);
background: var(--White, #FFF);
color: var(--Primary-800, #0067DF);
text-align: center;

/* 14/Semibold */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 150% */
}
.uploadLabel{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
/* Styles for hiding the default file input text */
.uploadInput {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Style for the custom label */
.customFileUpload {
  /* Add your styling for the label here */
  /* For example: */
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}



