.arrowLeftIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text {
  position: relative;
  font-weight: 600;
}
.arrowLeftParent {
  gap: var(--gap-5xs);
}
.arrowLeftParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.div,
.label {
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.div {
  font-size: var(--semibold1-size);
  line-height: 24px;
  color: var(--error-800);
  display: flex;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.labelParent {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.searchfatIcon {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.arrowaltdownIcon {
  position: absolute;
  height: 36.66%;
  width: 65.83%;
  top: 33.75%;
  right: 17.08%;
  bottom: 29.58%;
  left: 17.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrowaltdown {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 16px;
}
.searchfatParent {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--black-300);
  box-sizing: border-box;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
  color: var(--black-800);
}
.helpText {
  position: relative;
  line-height: 21px;
  display: none;
}
.dropdown,
.frameContainer {
  display: flex;
  justify-content: flex-start;
}
.dropdown {
  width: 235px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--semibold-size);
  color: var(--black-600);
  /* border: 2px solid red; */
}
.frameContainer {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-base);
}
.fileDownloadInLc {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text2 {
  position: relative;
  font-size: var(--semibold1-size);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--semibold);
  color: var(--white);
  text-align: center;
}
.arrowforwardIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.buttonSize {
  border-radius: var(--br-xs);
  background-color: var(--primary-800);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.button,
.frameGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: flex-start;
}
.frameGroup {
  width: 100%;
  height: 64px;
  align-items: center;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.option {
  font-weight: 600;
}
.div1,
.option {
  position: relative;
  font-size: var(--semibold-size);
  line-height: 21px;
  font-family: var(--semibold);
  color: var(--primary-800);
  text-align: left;
}
.optionParent {
  flex-direction: column;
  align-items: flex-start;
}
.metricTabs,

.optionParent {
  display: flex;
  justify-content: flex-start;
}
.metricTabsInner {
  border-bottom: 4px solid var(--primary-800);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs);
}


.option1 {
  font-weight: 600;
}
.div2{
  font-weight: 400;
}

.optionGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.metricTabsChild {
  border-radius: var(--br-5xs) var(--br-5xs) 0 0;
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--black-300);
  border-bottom: 4px solid #FFF;
  color: var(--Black-600, #777C83);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: 21px; 

 
}
.activeBox{
background: var(--Primary-300, #E6F3FF);
border: 1px solid  #FFF ;
border-bottom: 4px solid var(--primary-800);
color: var(--Primary-800, #0067DF);
font-family: Roboto;
font-size: 14px;
font-style: normal;
line-height: 21px; 
}
.metricTabs1,
.metricTabsParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.metricTabs1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  /* flex-direction: column; */
}
.rejectedIcon {
 
  width: 20px; /* Set the width of the icon */
  height: 20px; /* Set the height of the icon */
  background-size: cover;

  margin-top: -13px;
  margin-left: -14px;
}
.metricTabsParent {
  align-self: stretch;
  background-color: var(--white);
  border-bottom: 1px solid var(--black-300);
  flex-direction: row;
  gap: 24px;
  /* height: 80.5px; */
  /* border: 2px solid red; */
}
.frameDiv {
  padding: 0 var(--padding-base);
}
.frameDiv,
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.div6 {
  position: relative;
  font-size: var(--semibold1-size);
  line-height: 24px;
  font-weight: 600;
  color: var(--error-800);
  display: none;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.searchfatIcon1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.text3 {
  border: 0;
  font-weight: 600;
  font-family: var(--semibold);
  font-size: var(--semibold-size);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 21px;
  color: var(--black-500);
  text-align: left;
  outline: none;
}
.searchfatGroup {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 1px solid var(--black-300);
  box-sizing: border-box;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: var(--gap-5xs);
}
.search,
.searchWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.search {
  width: 460px;
  gap: var(--gap-9xs);
}
.searchWrapper {
  flex: 1;
}
.printerIcon {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.text4 {
  position: relative;
  font-size: var(--semibold-size);
  line-height: 21px;
  font-weight: 600;
  font-family: var(--semibold);
  color: var(--primary-500);
  text-align: center;
}
.arrowforwardIcon1 {
  position: relative;
  width: 18px;
  height: 18px;
  display: none;
}
.buttonSize1 {
  cursor: pointer;
  border: 1.2px solid var(--primary-500);
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--white);
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  /* border: 2px solid red; */
}
.allreportsbutton,
.frameParent1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-base);
  font-size: var(--semibold-size);
  color: var(--black-600);
  /* border: 2px solid pink; */
}
.allreportsbutton {
  /* width: 1366px; */
  flex-direction: column;
  text-align: left;
  font-size: var(--semibold3-size);
  color: var(--black-800);
  font-family: var(--semibold);
  /* border: 2px solid red; */
}





















.allDataLayout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  background: var(--Black-300, #E6EBF0);
  /* border: 2px solid red; */
  gap: 10px;
}

.allDataLayoutTop {
  display: flex;
  padding: 0px 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border: 1px solid var(--Black-300, #E6EBF0);
  background: var(--White, #FFF);
  box-shadow: 0px 0px 28px 0px rgba(34, 62, 104, 0.08);
}

.allDataLayoutBottom {
  display: flex;
  padding: 0px 28px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border: 1px solid var(--Black-300, #E6EBF0);
  background: #E6EBF0;
  box-shadow: 0px 0px 28px 0px rgba(34, 62, 104, 0.08);
}

.allDataLayoutTopBox {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  /* border: 2px solid rgb(137, 111, 111); */
  padding: 0px 5px;
}

.allDataLayoutBottomBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
border-radius: 5px;
background: #FFF;
border-radius: 11px;

}

.allDataLayoutToptexts {
  color: var(--Black-800, #181B1F);

  /* 12/Bold */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.allDataLayoutTopIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1;
  /* border: 2px solid rgb(72, 214, 25); */
  display: flex;
  padding: 12px 0px;

}

.allDataLayoutTopId {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1;
 
  display: flex;
  padding: 12px 5px;

}
.allDataLayoutTopPatientDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 3;
 
  display: flex;
  padding: 3px 5px 3px 0px;
}
.papa{
  display: flex;
  flex-direction: column;
}
.allDataLayoutTopAgeSexBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1.8;
 
  display: flex;
  padding: 3px 5px 3px 0px;
}
.allDataLayoutTopPaymentStatusBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 3;
 
  display: flex;
  padding: 3px 5px 3px 0px;
}
.allDataLayoutTopUpdatePaymentStatusBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 3;
 cursor: pointer;
  display: flex;
  padding: 3px 5px 3px 0px;
}
.allDataLayoutTopDateOfEnteryBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 2;
 
  display: flex;
  padding: 3px 5px 3px 0px;
}
.allDataLayoutTopTestNameBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 4;
 
  display: flex;
  padding: 3px 5px 3px 5px;
  margin-right: 5px;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  /* border: 2px solid red; */
}
.allDataLayoutTopTestStatusBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 3.4;
 
  display: flex;
  padding: 3px 5px 3px 0px;
}
.allDataLayoutTopPrintStatusBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 3;
 
  display: flex;
  padding: 3px 5px 3px 0px;
}
.allDataLayoutTopPrepareReportBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 3;
 
  display: flex;
  padding: 3px 5px 3px 0px;
}
.allDataLayoutTopPrintBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 1;
 
  display: flex;
  padding: 3px 5px 3px 0px;
}










.allDataLayoutTextId{
  color: var(--Black-700, #4A5055);
text-align: center;

/* 12/Regular */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
}
.allDataLayoutTextPatientDetails{
  color: var(--Black-700, #4A5055);

/* 12/Medium */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
}
.allDataLayoutTopTextAgeSex{
  color: var(--Black-700, #4A5055);

/* 12/Regular */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 150% */
}
.allDataLayoutTopTextPaymentStatus{
  display: flex;
width: 80px;
padding: 8px;
justify-content: center;
align-items: flex-start;
gap: 4px;
align-self: stretch;
border-radius: 8px;
background: var(--Error-300, #FCE6E6);
color: var(--Error-700, #E81A1A);

/* 12/Medium */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
align-items: center;
}
.allDataLayoutTopTextPaymentStatusPaid{
  display: flex;
  width: 80px;
  padding: 8px;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-radius: 8px;
  background: var(--Black-300, #E6EBF0);
  color: var(--Black-700, #4A5055);

  /* 12/Medium */
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
  align-items: center;
}
.allDataLayoutTopTextUpdatePaymentStatus{
  color: var(--Primary-800, #0067DF);
text-align: center;

/* 12/Semibold */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 150% */
}
.allDataLayoutTopTextTestStatus1{
  display: flex;
height: 28px;
padding: 8px;
width: 95px;
align-items: center;
justify-content: center;
gap: 4px;
color: var(--Warning-800, #D58D04);
border-radius: 8px;
background: var(--Warning-300, #FFF6E6);

/* 12/Medium */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
}
.allDataLayoutTopTextTestStatus2{
  display: flex;
height: 28px;
padding: 8px;
width: 95px;
align-items: center;
justify-content: center;
gap: 4px;
border-radius: 8px;
background: var(--Success-300, #E5F7F1);

color: var(--Success-800, #00A96C);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
}
.allDataLayoutTopTextTestStatus3{
  display: flex;
height: 28px;
padding: 8px;
width: 95px;
align-items: center;
justify-content: center;
gap: 4px;
border-radius: 8px;
background: var(--Error-300, #FCE6E6);
color: var(--Error-700, #E81A1A);
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
}
.allDataLayoutTopTextNotPrinted{
  display: flex;
  width: 77px;
height: 28px;
padding: 8px;
align-items: center;
justify-content: center;
gap: 4px;
border-radius: 8px;
background: var(--Black-300, #E6EBF0);
color: var(--Black-700, #4A5055);

/* 12/Medium */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
}
.allDataLayoutTopTextPrinted{
  display: flex;
width: 77px;
height: 28px;
padding: 8px;
justify-content: center;
align-items: center;
gap: 4px;
border-radius: 8px;
background: var(--Success-300, #E5F7F1);
color: var(--Success-800, #00A96C);

/* 12/Medium */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
}
.allDataLayoutTopTextPrepareReport{
  color: var(--Primary-800, #0067DF);
text-align: center;

/* 12/Semibold */
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 150% */
cursor: pointer;
}
.allDataLayoutTopTextIcon{
  width: 16px;
height: 16px;
cursor: pointer;

}








.allDataLayoutTopPatientDetailsing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  flex: 2;
  padding: 16px 0px;
}

.singleGroup {
  border: 2px solid red;
}

.bundeelContainer {
  display: flex;
/* padding: 1px 0px; */
flex-direction: row;
justify-content: center;
align-items: flex-start;
align-self: stretch;
/* border-radius: var(--mint-cfc-sys-corner-radius-s, 8px); */
/* border: 1px solid var(--Black-300, #E6EBF0); */
background: #FFF;
padding: 0px 5px;
border-radius: 10px;
}





/* popup css */
.modalOverlay {
  position: fixed;
  /* position: absolute; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;

}

.detailsAndTestLayout {

  width: 80%;
  height:90vh;
  overflow-y: scroll;
/* border: 2px solid red; */
  align-items: flex-start;
  border-radius: 16px;
  border-right: 1px solid var(--Black-300, #E6EBF0);
  background: var(--White, #FFF);
}





