/* Discount.module.css */
.discountTop{
  
  display: flex;
  justify-content: space-between;
  padding: 10px 48px;
}
.discountToptext{
  color: var(--000000-primary, #000);
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: var(--000000-primary, #000);
font-family: Roboto;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.discountTopbutton{
  display: flex;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 12px;
background: var(--Primary-800, #0067DF);
color: var(--White, #FFF);
text-align: center;

/* 16/Semibold */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
}
.discountContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;



}

.discountItem {

  padding: 20px;
  margin: 10px;
  width: 26%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 10px;
}

.discountItemTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--Black-400, #CFD0D8);
}

.coupon {
  display: flex;

  font-weight: bold;
  align-items: center;
  color: var(--Black-700, #4A5055);

/* 16/Semibold */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */

}

.couponicon {
  width: 40px;
  height: 40px;
}

.discountInfo {
  /* margin: 10px 0; */
  padding: 10px 12px;
  border-radius: 8px;
  background: var(--Primary-300, #E6F3FF);
  color: var(--Primary-800, #0067DF);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 21px; /* 150% */
}



.couponInfoRow {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 10px;


}

.couponInfoKey {
  width: 55%;
  color: var(--Black-700, #4A5055);

  /* 14/Regular */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
}

.couponInfoValue {
  width: 45%;
  color: var(--Black-800, #181B1F);

  /* 14/Semibold */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  /* 150% */
}

.editButton {
margin-top: 10px;
  border: none;
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;

  border-radius: 8px;
border: 1.2px solid var(--Black-400, #CFD0D8);
background: var(--White, #FFF);
color: var(--Black-800, #181B1F);
text-align: center;

/* 14/Semibold */
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px; /* 150% */
}

.editButton:hover {
  background-color: #0056b3;
  color: white;
}






.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.editPopup {
  /* border: 8px solid rgb(217, 12, 46); */
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 900px;
  /* height: 300px; */
  padding: 10px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.editableFields input {
  /* display: block; */
  margin: 10px 0;
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.editableFieldscoupan {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.editButtonGroup {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.saveButton,
.cancelButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.saveButton:hover,
.cancelButton:hover {
  background-color: #0056b3;
}