.searchfatIcon {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.investigation {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 500;
}

.searchfatParent {
  align-self: stretch;
  border-radius: 4px;
  background-color: #dadfe5;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 16px;
  gap: 16px;
  /* border: 2px solid red; */
}
.div,
.label {
  position: relative;
  line-height: 21px;
  font-weight: 600;
}
.div {
  font-size: 16px;
  line-height: 24px;
  color: #ce0000;
  display: flex;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.labelParent {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.text {
  flex: 1;
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  height: 20px;
}
.searchfatContainer {
  align-self: stretch;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e6ebf0;
  box-sizing: border-box;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
  color: #181b1f;
}
.helpText {
  position: relative;
  line-height: 21px;
  display: none;
}
.inputField,
.mgdl {
  flex: 1;
  display: none;
}
.inputField {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  color: #777c83;
  font-family: Roboto;
}
.mgdl {
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.electrolyesSerumWrapper,
.searchfatGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.searchfatGroup {
  align-self: stretch;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px 16px;
  gap: 16px;
}
.electrolyesSerumWrapper {
  flex: 1;

}
.inputField1,
.inputFieldChild {
  display: flex;
  justify-content: flex-start;
  font-family: Roboto;
}
.inputFieldChild {
  border: 1px solid #e6ebf0;
  font-weight: 600;
  font-size: 14px;
  background-color: #fff;
  align-self: stretch;
  border-radius: 8px;
  box-sizing: border-box;
  height: 36px;
  flex-direction: row;
  align-items: center;
  padding: 8px;
}
.inputField1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  color: #777c83;
}
.div8,
.interpretationOfHaemoglobin {
  position: relative;
  line-height: 21px;
}
.div8 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Roboto;
  color: #ce0000;
  display: none;
  align-items: center;
  width: 9px;
  height: 21px;
  flex-shrink: 0;
}
.interpretationOfHaemoglobinParent {
  width: 143px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.helpText4 {
  position: relative;
  line-height: 21px;
  font-family: Roboto;
  display: none;
}
.inputField4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
  gap: 4px;
}
.helpText5 {
  position: relative;
  line-height: 21px;
  font-family: Roboto;
  color: #777c83;
  display: none;
}
.inputField5,
.inputFieldParent {
  display: flex;
  justify-content: flex-start;
}
.inputField5 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  gap: 4px;
  color: #181b1f;
}
.inputFieldParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.frameChild3,
.frameWrapper {
  align-self: stretch;
  border-radius: 8px;
  background-color: #f2f5f8;
  overflow: hidden;
}
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px 16px;
  color: #777c83;
}
.frameChild3 {
  display: none;
}
.frameParent,
.patientreport {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  gap: 16px;
}
.patientreport {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #181b1f;
  font-family: "Roboto Mono";
}
